<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>817502397544-0ojaqhcn44u9e46oor7h4iop111phb2i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5-ncie3C1gmgypFVyvQPfzRIyh-RjH3M</string>
	<key>GCM_SENDER_ID</key>
	<string>817502397544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireflutterSite</string>
	<key>PROJECT_ID</key>
	<string>withcenter-test-2</string>
	<key>STORAGE_BUCKET</key>
	<string>withcenter-test-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817502397544:ios:e41f5d8294a041402487dd</string>
	<key>DATABASE_URL</key>
	<string>https://withcenter-test-2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>